<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding planet</title>
</head>
<body>
<form th:method="POST" th:action="@{/planet/add}" th:object="${newPlanet}">
    <label for="nameL"> Enter name:</label>
    <input type="text" th:field="*{name}" id="nameL"/>
   <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <input type="submit" value="Create planet!"/>
    <p th:if="${nameError}" th:utext="${nameError}"></p>
</form>

</body>
</html>