<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding sovereign</title>
</head>
<body>
<form th:method="POST" th:action="@{/sovereign/add}" th:object="${newSovereign}">
    <label for="nameForForm"> Enter name:</label>
    <input type="text" th:field="*{name}" id="nameForForm"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Greate sovereign!"/>
</form>

</body>
</html>