<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Destination page</title>
</head>
<body>
<p th:if="${planetList.empty}"> Lord has no planets </p>
<div th:each="planet : ${planetList}">
    <p th:if="not ${planetList.empty}"> The Lord lands: </p>
    <span th:utext="${planet.getName()}"></span>
    <p th:text="${planet.getName()}">Value</p>
</div>

<p> Add Sovereign Planet from the list available </p>
<form method="POST" th:action="@{ /planet/addSovereign }" th:object="${appointed}">
    <select name="idP">
        <option value=""> Choose planet</option>
        <option th:each="planet :${planetNull}"
                th:value="${planet.getPlanet_id()}"
                th:utext="${planet.getName}">
    </select>
    <input type="text" th:field="*{sovereign_id}"> <br> <br>
    <button type="submit"> Confirm</button>
</form>

</body>
</html>