<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Removal of Planet </title>
</head>
<body>
<form method="POST" th:action="@{ /planet/delete }" th:object="${planetList}">
    <select name="id">
        <option value=""> Choose a planet</option>
        <option th:each="planet :${planetList}"
                th:value="${planet.getId()}"
                th:utext="${planet.getName}">
    </select>
    <button type="submit"> Delete</button>
</form>
</body>
</html>