<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
<div th:each="sovereign : ${sovereignList}">
    <a th:href="@{/sovereign/appoint/{id}(id=${sovereign.getSovereign_id()})}"
       th:text="${sovereign.getName() + ', '+ sovereign.getPlanetSet().toString()}"> Name
    </a>
</div>
<br/>
<a href="/sovereign/add"> Add Sovereign </a>
<br/>
<a href="/sovereign/delete"> Remove sovereign </a>
<br/>
<hr/>
<br/>
<div th:each="planet : ${planetList}">
    <a th:text="${planet.getName()}"> Name
    </a>
</div>
<br/>
<a href="/planet/add"> Add Planet </a>
<br/>
<a href="/planet/delete"> Remove the planet </a>
<br/>
<hr/>
<br/>
<a href="/sovereign/rankingUp"> Display the first ten young sovereigns </a>
<br/>
<a href="/sovereign/idlers"> Display the idlers </a>
</body>
</html>